.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.form__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--secondary-text-color);
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 28px;
}

.form__field--margin {
  margin-bottom: 10px;
}

.form__input {
  margin: 0;
  padding: 11px 12px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.form__field:focus-within > .form__input,
.textarea__field:focus-within > .comment {
  border-color: transparent;
  outline: 1px solid var(--accent-text-color);

  transition: border-color var(--timing-function) var(--transition-duration);
}

.form__label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);

  transition: transform var(--transition-duration) var(--timing-function);
}

.form__field:focus-within > .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translate(-30px, -40px);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--secondary-text-color);

  transition: fill var(--transition-duration) var(--timing-function);
}

.form__field:focus-within > .form__icon,
.form__input:not(:placeholder-shown) ~ .form__icon {
  fill: var(--accent-text-color);
}

.comment__label {
  margin-bottom: 4px;
}

.form__label,
.comment__label,
.comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__input,
.comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.textarea__field {
  margin-bottom: 20px;
}

.comment {
  padding: 12px 16px;
  resize: none;
}

.comment::placeholder {
  color: var(--placeholder-text-color);
}

.policy__field {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  fill: none;
  background-color: transparent;

  border: 2px solid var(--black-color);
  border-radius: 2px;
  color: var(--white-color);
}

.checkbox:checked + .checkbox__icon {
  background-color: var(--accent-text-color);
  fill: currentColor;
  border: none;
}

.policy__label {
  margin-left: 8px;
}

.policy__accent {
  color: var(--accent-text-color);
  margin-left: 4px;
}

.submit-button {
  max-width: 200px;

  transition: box-shadow var(--timing-function) var(--transition-duration);
}

.submit-button:hover,
.submit-button:focus {
  box-shadow: 1px 1px 1px 1px hsla(0, 0%, 46%, 0.3);
}
